:root{
    --success : #488B00;
    --danger: #B60009;

    --dark-background: #323038;
    --warning-background : #D3A85D;
    --success-background: #459245;
    --danger-background: #BD515E;
}

.bg-warning{
    background-color: var(--warning-background);
}

.bg-success{
    background-color: var(--success-background);
}

.bg-danger{
    background-color: var(--danger-background);
}

/* #region Native elements */
.btn{
    font-size: 1.8em !important;
    outline: none;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 10px black;
    color: white;
    padding: 10px;

    cursor: pointer;
}
.success-btn{
    background-color: var(--success);
}

.danger-btn{
    background-color: var(--danger);
}

/* #endregion */

/* #region MP3 DL EXTENTION */
.main-ext-container{
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 100%;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: auto;
    height: auto;
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.5);

    font-size: 2em !important;
}



.usb-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 4px 20px;
    border-radius: 10px;
}
/* #endregion */

/* #region Confirmation download */
.full-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6000;

    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);

    /* Text */
    font-size: 2em !important;
    color: white;
    
}

.confirmation-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 8px;
    padding: 30px;

    background-color: var(--dark-background)
}
.confirmation-container > input{
    font-size: 1.5em;
    padding: 3px;
}

.confirmation-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 20px;
}

/* #endregion */

/* #region Info Modal */
#modal-info{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
}
/* #endregion */