

.cst-btn{
    min-height: 75px;
    font-size: 28px !important;
}


.cst-font-xs{
    font-size: 18px !important;
}

.cst-font-sm{
    font-size: 22px !important;
}

.cst-font-md{
    font-size: 28px !important;
}

.cst-font-lg{
    font-size: 32px !important;
}

.cst-font-xl{
    font-size: 36px !important;
}